@import '~bootstrap/scss/bootstrap';

@import 'variables';
@import 'shared/base';

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format('woff2');
}
* {
  transition: all 100ms ease-in-out;
}
html {
  background: white;
}

body {
  background: white;
  min-height: 100vh;
  font-family: Product Sans;
  color: black;
  overflow: hidden;
}

.navbar-brand {
  font-size: 1.5em;
  img {
    display: inline-block;
    width: 50px;
  }
}

#root {
  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 20px;
  }
}

.btn-action {
  outline: none;
  border: none;
}

@import 'main-window';
@import 'call-window';
@import 'call-modal';
