.call-modal {
  position: absolute;
  width: 460px;
  padding: 50px;
  left: calc(50vw - 200px);
  top: calc(50vh - 60px);
  background: black;
  text-align: center;
  display: none;
  box-shadow: 1px 20px 0px 1010px #000000b0;
  @include border-radius(105px);
  text-align: center;
  display: none;

  &.active {
    display: block;
    z-index: 9999;
    @include animation(blinking 3s infinite linear);
  }

  .btn-action:not(.hangup) {
    background-color: $green;
  }

  span.caller {
    color: $blue;
  }

  p {
    font-size: 1.5em;
  }
}

@include keyframes(blinking) {
  25% {
    @include transform(scale(0.96));
  }
  50% {
    @include transform(scale(1));
  }
  75% {
    @include transform(scale(0.96));
  }
  100% {
    @include transform(scale(1));
  }
}
