.main-window {
  padding-top: 80px;
  font-size: 1.75em;
  font-family: ProductSans-Regular; // Add font family here
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 40px;

    .pull-left,
    .pull-right {
      width: 100%;
      text-align: center;
    }

    .pull-right {
      margin-top: 20px;
    }
  }

  .btn-action {
    $height: 60px;
    height: $height;
    width: $height;
    margin: 0 1rem;
    text-align: center;
    border-radius: 50%;
    border: solid 2px $main-color;
    cursor: pointer;
    transition-duration: 0.25s;
    background-color: black;

    &:hover {
      background-color: rgba(black, 0.7);
    }
  }
  .flex {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .muted {
    color: #00000099;
  }
  .inputTitle {
    display: flex;
    font-weight: bold;
    text-align: center;
    // border: 1px solid red;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    background: #f4f4f4ad;
    border-radius: 32px;
    margin: 4rem 0 0 0;
  }
  .txt-clientId {
    height: 40px;
    width: 430px;
    border: 2px solid #cfcfcf;
    color: #a5a5a5;
    font-size: 1em;
    background-color: white;
    padding: 2rem;
    border-radius: 14px;
    @include input-placeholder(rgba($main-color, 0.8));
  }
  .copyIcon {
    padding: 1.1rem;
    border-radius: 12px;
    border: 2px solid #cfcfcf;
    margin-left: 1rem;
    background: white;
    cursor: pointer;
  }
  .copyInputContainer {
    display: flex;
    align-items: center;
  }
}
.txt-pasteId {
  height: 40px;
  width: 470px;
  border: 2px solid #cfcfcf;
  color: #a5a5a5;
  font-size: 1em;
  background-color: white;
  padding: 2rem;
  border-radius: 14px;
  @include input-placeholder(rgba($main-color, 0.8));
}
.alreadyID {
  display: flex;
  text-align: center;
  // border: 1px solid red;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  border-radius: 32px;
  margin: 0;
}

.copyID:active {
  transform: scale(0.98);
}

.callButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
