.main-window {
  padding-top: 80px;
  font-size: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 40px;

    .pull-left,
    .pull-right {
      width: 100%;
      text-align: center;
    }

    .pull-right {
      margin-top: 20px;
    }
  }

  .btn-action {
    $height: 60px;
    height: $height;
    width: $height;
    margin: 20px 30px 0px 0px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px $main-color;
    cursor: pointer;
    transition-duration: 0.25s;
    background-color: transparent;

    &:hover {
      background-color: rgba($main-color, 0.2);
    }
  }

  .txt-clientId {
    height: 40px;
    width: 657px;
    border: 1px dashed white;
    color: $main-color;
    font-size: 1em;
    background-color: transparent;
    padding: 2rem;
    // border-bottom: solid 1px #FFFFFF;
    border-radius: 34px;
    @include input-placeholder(rgba($main-color, 0.8));
  }
}
